name: lint test and tag
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Run lint
        run: bundle exec rubocop .
      - name: Run tests
        run: bundle exec rspec spec

  tag-release:
    needs: lint-and-test
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          rubygems: latest
      - run: |
          VERSION=$(ruby -e "puts eval(File.read('govwifi_eapoltest.gemspec')).version")

          if ! git ls-remote --tags --exit-code origin v${VERSION}; then
            git tag v${VERSION}
            git push --tags
          fi
